<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080483770123-k9o12cagbn7bb1eg7a5flhg7v3g3rut9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080483770123-k9o12cagbn7bb1eg7a5flhg7v3g3rut9</string>
	<key>API_KEY</key>
	<string>AIzaSyAth_ljr4In8gq9PlyieF0Je9sI4rI3O10</string>
	<key>GCM_SENDER_ID</key>
	<string>1080483770123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CuongDD.MyDiscover</string>
	<key>PROJECT_ID</key>
	<string>databasetest-6502d</string>
	<key>STORAGE_BUCKET</key>
	<string>databasetest-6502d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080483770123:ios:40f4b9b9b4b2327803bc0e</string>
	<key>DATABASE_URL</key>
	<string>https://databasetest-6502d-default-rtdb.firebaseio.com</string>
</dict>
</plist>